.App {
  font-family: sans 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.nav{
  display: flex;
  
}
.logo{
  margin-top: 10px;
}
.logo img{
  width: 200px;
}

ul{
  display: flex;
  margin-left: auto;
}
ul li{
  text-decoration: none;
  list-style: none;
  padding: 7px;
  margin-top: 20px;
}
li span{
  color: white;
}
.header{
  height: 550px;
  background:
  linear-gradient(#00000075,#00000075),
  linear-gradient(#00000075,#00000075),	
  url(./image/2021-01-02T173945Z_1555640591_UP1EH121D295P_RTRMADP_3_SOCCER-ENGLAND-BRH-WLV-REPORT.webp) center center fixed;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  margin-bottom: 50px;
}
.header h2{
  text-align: center;
  margin-top: 80px;
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
}
.social-icon{
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
.social-icon a{
  color: rgb(255, 255, 255);
  padding: 10px;
}